### Naive-Bayes Classification Model to classify if a person will buy premium or not

In [32]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [33]:
dataset = pd.read_csv('TenousePremium_file.csv')
dataset.head()

        City  Quarter         Person  Bought
0     Mumbai        3  Self_Employed       1
1  Hyderabad        3       Employee       0
2       Pune        4  Self_Employed       1
3     Mumbai        3        Student       0
4  Bangalore        3       Employee       1

In [34]:
city = {'Pune':1, 'Mumbai':2, 'Bangalore':3, 'Hyderabad':4}
person = {'Student':1, 'Employee':2, 'Self_Employed':3, 'Tourist':4}
dataset['City'] = dataset['City'].map(city)
dataset['Person'] = dataset['Person'].map(person)
dataset.head()

   City  Quarter  Person  Bought
0     2        3       3       1
1     4        3       2       0
2     1        4       3       1
3     2        3       1       0
4     3        3       2       1

In [35]:
X = dataset.iloc[:, 0:3].values
y = dataset.iloc[:, -1].values

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [37]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [38]:
y_pred = classifier.predict(X_test)

In [49]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[0 3]
 [3 7]]

In [52]:
import joblib
joblib.dump(classifier, 'PremiumModel.pkl')

['PremiumModel.pkl']

In [53]:
clf = joblib.load('PremiumModel.pkl')

In [59]:
# [3, 1, 4] => 0, [1, 1, 4] => 1
y_pred1 = clf.predict([[1, 1, 4]])
y_pred1

array([1])